.text-wrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

.swal-text {
    text-align: center;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

table form {
    display: inline;
}

.carousel-caption {
    margin-right: 100px;
    right: 55%;
    margin-left: 130px;
}

.carousel-option {
    position: absolute;
    bottom: 40px;
    z-index: 1;
    margin-left: 255px;
    color: white;
}

a .carousel-option:hover {
    color: #0056b3;
}


@media screen and (max-width: 425px) {

    #storyTable_info,
    #membertable_info,
    #taskTable_info,
    #requestTable_info,
    #messageTable_info,
    #petTable_info,
    #rescueTable_info,
    #activityTable_info {
        white-space: pre-wrap;
        /* CSS3 */
        white-space: -moz-pre-wrap;
        /* Firefox */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* IE */

    }
}
