#text-info {
    padding: 0% 3%;
    padding-top: 1%;
}

.container-info {
    padding: 0% 3%;
    padding-top: 1%;
}

.container-story {
    padding-left: 5%;
    padding-right: 5%;
}

.info-date {
    margin-top: -2%;
}

.btn-see-more {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#story-list div.col-md-3>img {
    height: 27vh;
}

.info-story {
    top: 25%;
    left: 42%;
    position: absolute;
}

#carousel-story {
    padding-left: 0px;
    padding-right: 0px;
}

#info-story .modal-content,
#info-activity .modal-content,
#info-pet .modal-content {
    border-radius: 25px
}

#info-story img,
#info-activity img,
#info-pet img {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 70vh;
}

.card-adopt:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(40, 167, 69, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(40, 167, 69, 0.75);
    -box-shadow: -1px 9px 40px -12px rgba(40, 167, 69, 0.75);
}

#ContactRecaptcha {
    padding-left: 18%;
}


.msgDanger-email,
.msgDanger-tel,
.msgDanger-reason,
.msgDanger-msg,
.msgDanger-name,
.msgDanger-lastName,
.msgDanger-check {
    padding-left: 7px;
    color: red;
    font-size: 14px;
}


#modalAdopt div .modal-content,
#modalContact div .modal-content {
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 7px;
    border-bottom: transparent;
    padding-bottom: 7px;
}


#big-image div {
    position: absolute;
    bottom: 30%;
    left: 15%;
    color: white;
}

#big-image img {
    background: rgba(0, 0, 0, 0.5);
    height: 59vh;
    width: 100%;
    object-fit: cover;
    filter: grayscale(57%);
    padding-top: 20px;
    position: relative;
}

#actividades img {
    height: 257px;
    object-fit: fill;
    padding: .5em;
}

#activities .btn-activity:hover {
    border-color: #42b72a;
}

#activities .btn-activity {
    outline: none;
    color: black;
    background: transparent;
    border-color: white;
}

/*--------------------------*/


#pet-available img {
    height: 157px;
    object-fit: contain;
    padding: .5em;
}

#historias .card {
    border: none !important;
}

#historias img {
    height: 157px;
    object-fit: fill;
    padding: .5em;
}

#historias .row {
    margin-bottom: 21px;
    border: 1px solid rgba(0, 0, 0, .125);
}

#colaboradores .titulo-colaboradores {
    margin-top: 15px;
    margin-bottom: 15px;
}

#historias {
    margin-top: 15px;
}

#colaboradores img {
    height: 200px !important;
    object-fit: contain;
}

#cards {
    margin-top: 27px;

}

nav {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.carrusel img {
    height: 57vh;
    object-fit: cover;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(57%);
}

#carousel .btn-donar {
    margin-top: 5px;
    border-radius: 3px;
    background: #42b72a !important;
    width: 250px;
}

#carousel {
    position: relative;
    max-width: 1200px;
    margin: auto;
}


#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: white;
    padding-right: 5px;
}

#carousel span {
    color: #42b72a;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

nav img {
    height: 57px;
}

.donar:hover {
    background: rgba(0, 0, 0, .9);
    color: white !important;
}

.donar {
    border: 1px solid rgba(0, 0, 0, .9);
    border-radius: 19px;
}

footer a {
    color: #42b72a;
}

#footer {
    margin-top: 5px;
    padding-top: 5px;
    background: white;
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

@media screen and(max-width: 1599px) {

    #info-story img,
    #info-activity img,
    #info-pet img {
        height: 70vh;
    }
}


@media screen and (max-width: 1199px) {

    #info-story img,
    #info-activity img,
    #info-pet img {
        height: 70vh;
    }

    #cards .container {
        max-width: 100vw !important;
    }
}

@media screen and (max-width: 991px) {

    .info-date {
        margin-top: -4%;
    }

    .info-story {
        top: 2%;
        left: 42%;
        position: absolute;
        margin: 3%;
        padding-right: 5%;
    }

    #cards .container {
        max-width: 100vw !important;
    }
}

@media screen and (max-width: 767px) {

    #story-list div.col-md-3>img {
        padding-top: 17%;
        height: 75%;
    }

    .info-date {
        margin-top: -7%;
    }

    #story-list .story-item {
        padding-bottom: 20px;
    }

    #cards .container {
        margin: 0;
        align-items: center;
    }

    #cards .row {
        width: 100vw;
    }

    #carousel h4 {
        font-size: 19px;
    }
}

@media screen and (max-width: 575px) {

    .container-info {
        padding: 0% 5%;
    }

    .container-story {
        padding-left: 7%;
        padding-right: 7%;
    }

    #close-modal {
        color: white;
    }

    #story-list>div:nth-child(1)>div.col-md-9.col-sm-7.my-4 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    #story-list div.col-md-3>img {
        padding-top: 0%;
        height: auto;
        object-fit: fill;
    }

    .info-date {
        margin-top: -4%;
    }

    #story-list .story-item {
        padding-bottom: 20px;
    }

    #story-list div.col-md-3>img {
        object-fit: contain;
    }

    #info-story img,
    #info-activity img,
    #info-pet img {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 45vh;
    }

    .info-story {
        position: static;
    }

    #carousel .col-md-7 {
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 479px) {

    #close-modal {
        color: white;
    }

    .more-info {
        margin-bottom: 2%;
    }

    .btn-see-more {
        align-items: flex-end;
    }

    .info-story {
        top: 0%;
        left: 0%;
        position: relative;
        margin: 3%;
        padding-right: 5%;
    }

    .more-info {
        margin-top: 10%;
    }

    #info-story img,
    #info-activity img,
    #infp-pet img {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 45vh;
    }


    #carousel h4 {
        font-size: 12px;
    }

    #ContactRecaptcha {
        padding-left: 0%;
    }

    .story-item {
        margin-bottom: 5% !important;
        padding: 2%;
        padding-bottom: 5%;
    }
}

@media screen and(max-width: 375px) {}
